################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TDD.Demo/v16
/TDD.Demo.NUnitTests/obj
/TDD.Demo.NUnitTests/bin/Debug/netcoreapp3.0
/Dependency.UnitTest/bin/Debug/netcoreapp3.0
/Dependency.UnitTest/obj
/.vs/TDD.Demo/DesignTimeBuild
/TDD.Demo/obj/Debug/netcoreapp3.0
/TicTacToe.Services/bin/Debug/netcoreapp3.0
/TicTacToe.Services/obj
/TicTacToe.UnitTests/bin/Debug/netcoreapp3.0
/TicTacToe.UnitTests/obj/Debug/netcoreapp3.0
/TicTacToe.UnitTests/obj
/BusinessApplication.Core/bin/Debug/netcoreapp3.0
/BusinessApplication.Core/obj
/BusinessApplication.UnitTests/obj
/BusinessApplication.UnitTests/bin/Debug/netcoreapp3.0
