################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TDD.Demo/v16
/TDD.Demo.NUnitTests/obj
/TDD.Demo.NUnitTests/bin/Debug/netcoreapp3.0
